[alias]
	a = add
	b = branch -vv
	ci = commit
	co = checkout
	d = diff
	devs = shortlog -nes
	di = diff --cached
	dis = diff --cached --stat
	ds = diff --stat
	l = log --graph --date-order
	la = log --graph --all --date-order
	lr = log --walk-reflogs
	ll = log --graph -n 1
	s = status -s -b
	sub = submodule foreach git

[branch]
	autosetuprebase = always

[color]
	branch = auto
	diff = auto
	interactive = auto
	pager = true
	status = auto
	ui = auto

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green bold
	changed = yellow bold

[core]
	pager = less -FRSX

[diff]
	ignoreSubmodules = all

[fetch]
	recurseSubmodules = false

[format]
	pretty = format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'

[help]
	autocorrect = 10

[log]
	abbrevCommit = true
	date = relative

[merge]
	ff = false
	log = true
	stat = true
	tool = vimdiff

[push]
	default = tracking

[rebase]
	stat = true

[rerere]
	enabled = 1

[status]
	submodulesummary = true

[user]
	name = nilsonholger
	email = nilsonholger@hyve.org
