[alias]
	a = add
	b = branch -vv
	ci = commit
	ca = commit --amend --no-edit
	co = checkout
	d =   diff --minimal --unified=0 --word-diff=color
	dm =  diff --minimal --unified=0 --color-moved=dimmed_zebra
	di =  diff --minimal --unified=0 --word-diff=color --cached
	dp =  diff --minimal --unified=0 --word-diff=plain
	ds =  diff --stat
	dis = diff --stat --cached
	devs = shortlog --numbered --email --summary
	dir = rev-parse --show-toplevel
	l = log --graph --date-order
	la = log --graph --all --date-order
	lr = log --graph --all --date-order --reflog
	ll = log --graph -n 1
	new = !git log --graph --date-order $(git rev-parse --abbrev-ref --symbolic-full-name '@{u}')..$(git rev-parse --abbrev-ref HEAD)
	push = push --force-with-lease
	ra = rebase --abort
	rc = rebase --continue
	re = rebase --edit-todo
	ri = rebase --interactive
	rs = rebase --skip
	s = status
	ss = status --long
	sub = submodule foreach git
	untracked = ls-files --others
	upstream = !git log --graph --date-order $(git rev-parse --abbrev-ref HEAD)..$(git rev-parse --abbrev-ref --symbolic-full-name '@{u}')

[color "diff"]
	meta = yellow      # white not nice
	old = red bold     # bold ist better
	new = green bold   # bold ist better

[color "status"]
	added = green bold      # easier to spot
	changed = yellow bold   # easire to spot

[core]
	pager = less -FRSX   # less --quit-if-one-screen --RAW-CONTROL-CHARS --chop-long-lines --no-init

[diff]
	algorithm = histogram    # better diffing
	ignoreSubmodules = all   # don't diff into dependencies
	renames = copy           # {renames,copies}

[fetch]
	prune = true                # prune local branches (if deleted on remote)
	recurseSubmodules = false   # avoid downloading dependencies

[format]
	pretty = format:'%C(yellow)%h%Creset -%C(cyan)%d%Creset %s %Cgreen(%ad) %C(bold blue)<%an>%Creset'   # pretty says it all

[help]
	autocorrect = 10   # fix those pesky typos (in a second)

[log]
	abbrevCommit = true   # shorten SHA hashes
	date = relative       # forgot about it "5 seconds ago"

[merge]
	ff = only        # prevent accidential merge commits
	log = true       # list (20...) commit messages in merge
	tool = vimdiff   # vim all the way

[push]
	followTags = true   # automagically update tags remotely

[rebase]
	stat = true                  # show nice diffstat
	autoSquash = true            # ... for fixup operations
	autoStash = true             # stash before starting
	missingCommitsCheck = warn   # show warning when removing commit

[rerere]
	autoUpdate = true   # apply automagic
	enabled = true      # pure automagic

[stash]
	showPatch = true   # no need to type '--patch'

[status]
	branch = true             # inform us, where we are
	short = true              # away with that pesky verbose help text
	submodulesummary = true   # show submodule changes

[transfer]
	fsckObjects = true   # always check object's hashes

[user]
	name = nilsonholger             # `whoami`
	email = nilsonholger@hyve.org   # finger `whoami`
