/*
*.*

!.bin/
!.caffrc

!.gitconfig
!.gitignore
!.gitmodules

!.gnupg/gpg.conf
!.irssi/
!.lbdbrc
!.mailcap
!.mplayer/
!.muttrc
!.tmux.conf

!.vim/bundle
!.vimrc

!.weechat/*.conf
!.Xdefaults
!.Xmodmap
!.xmonad/xmonad.hs
!.xsession

!.zshrc
!.zsh/
