/*
*.swp
*.DS_Store

!.bin/
!.caffrc

!.gitconfig
!.gitignore
!.gitmodules

!.gnupg/
.gnupg/*
!.gnupg/gpg.conf

!.irssi/
!.lbdbrc
!.mailcap
!.mplayer/
!.muttrc
!.tmux.conf

!.vim/
.vim/*
!.vim/bundle
!.vimrc

!.Xdefaults
!.Xmodmap

!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs

!.xsession
!.zshrc
!.zsh/
