# gitignore file
#
# the syntax of:
#   !$directory/
#   $directory/*
#   !$directory/...
# allows using git add .directory to include everything below $directory

/*
*.swp
*.DS_Store

!.bin/
!.caffrc

!.dwm/
.dwm/*
!.dwm/config.h

!.gitconfig
!.gitignore
!.gitmodules

!.gdbinit

!.gnupg/
.gnupg/*
!.gnupg/gpg.conf

!.irssi/
!.lbdbrc
!.mailcap
!.mplayer/
!.muttrc
!.plan
!.stuff/
!.tmux.conf

!.vim
.vim/*
!.vim/bundle
.vim/bundle/*
!.vim/bundle/vundle
!.vimrc

!.weechat/
.weechat/*
!.weechat/*.conf

!.Xdefaults
!.Xmodmap

!.xmonad/
.xmonad/*
!.xmonad/xmonad.hs

!.xsessionrc
!.zshrc
!.zsh/
