Config {
	  font = "-misc-fixed-*-*-*-*-8-*-*-*-*-*-*-*"
	--, hideOnStart = True
	--, lowerOnStart = True
	--, overrideRedirect = True
	--, persistent = True
	, commands = [
		Run StdinReader
		, Run MultiCpu ["-L","60","-H","90","-n","yellow","-h","red","-t","<autobar>"] 10
		, Run DynNetwork ["-t","<rx>|<tx>","-S","True"] 10
		, Run Memory ["-t","<free>"] 100
		, Run DiskU [("/", "<free>")] [] 100
		, Run Kbd [("us(dvp)", "DV"), ("us(alt-intl)", "US")]
		, Run Date "%Y-%m-%d %H:%M" "date" 100
	]
		, sepChar = "$"
		, alignSep = "}{"
		, template = "$StdinReader$}<fc=#333333><action=gnome-terminal -- htop>$multicpu$</action></fc>{<fc=#765400><action=gnome-terminal -- nload>$dynnetwork$</action></fc> <fc=#987600><action=gnome-terminal -- atop>$memory$M|$disku$</action></fc> <fc=#cb6500>$kbd$</fc> <fc=#fe3200><action=gnome-terminal -- alsamixer>$date$</action></fc>"
}
